<ng-container *ngIf="this.videoUrl">
    <vg-player (onPlayerReady)="onPlayerReady($event)" (onUpdateState)="onMediaStateChange($event)" *ngIf="_isBrowser">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>
  
    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>
  
    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1">
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>
  
      <button class="btn-skip" (click)="fastBack(10)">
        <mat-icon>replay_10</mat-icon>
      </button>
  
      <button class="btn-skip" (click)="fastForward(10)">
        <mat-icon>forward_10</mat-icon>
      </button>
  
      <button class="btn-skip" (click)="fastBack(30)">
        <mat-icon>replay_30</mat-icon>
      </button>
  
      <button class="btn-skip" (click)="fastForward(30)">
        <mat-icon>forward_30</mat-icon>
      </button>
  
      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
  
      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
  
      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
  
      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
  
      <vg-fullscreen></vg-fullscreen>
    </vg-controls>
  
    <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
      <source
        [src]="this.videoUrl ? this.videoUrl :'https://test.rtg.workers.dev/0:/%5BSubsPlease%5D%20Boku%20no%20Hero%20Academia%20-%20117%20(1080p)%20%5B27059ADF%5D.mkv'"
        type="video/mp4">
      <!-- <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
      <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm"> -->
  
      <track kind="subtitles" label="English" [src]="subtitleUrl"
        srclang="en" default>
      <!-- <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
        srclang="es"> -->
    </video>
  </vg-player>
</ng-container>
